---
interface Props {
  site: SiteInfo;
}

import Link from "@/components/Link.astro";
import { type SiteInfo } from "@/db/globals";
import ThemeChanger from "@/components/ThemeChanger";
import Image from "@/components/images/QwikImage";

import { getTopics } from "@/db/posts";
const topics = await getTopics();
if (!topics) return null;

const { site } = Astro.props;
---

<div class="navbar mx-auto max-w-6xl bg-base-100 p-4">
  <div class="navbar-start space-x-2">
    {
      topics.map((topic) => (
        <Link href={`/blog/${topic.slug}`} class="text-lg capitalize">
          {topic.name}
        </Link>
      ))
    }
  </div>

  <div class="navbar-center">
    <Link href="/" aria-label="Home" class="text-xl">
      <Image src="/logo.svg" alt={`${site.name} logo`} class="h-7 sm:h-12" />
    </Link>
  </div>

  <div class="navbar-end gap-x-2">
    <ThemeChanger />
  </div>
</div>
