---
import "@/styles.css";
import HeadBase from "@/layouts/HeadBase.astro";
import Navbar from "@/components/navbar/Navbar.astro";
import Footer from "@/components/footer/Footer.astro";
import SEO from "@/layouts/SEO.astro";
import BodyScripts from "@/layouts/BodyScripts.astro";
import type { SeoFieldsFragment } from "@/db/graphql";
import type { SiteInfo } from "@/db/globals";

interface Props {
  seo?: SeoFieldsFragment | null;
  site: SiteInfo;
}

const { seo, site } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase />
    <SEO seo={seo} />
  </head>
  <body>
    <Navbar site={site} />
    <slot />
    <Footer />
    <BodyScripts />
  </body>
</html>
